@import url(./components/navbar.css);
@import url(./components/quizcard.css);
@import url(./components/profile.css);
@import url(./components/add-question.css);

*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --background-color: rgb(255, 255, 255);
   --quizcard-color: rgb(235, 235, 235);
   --navbar-color: rgb(228, 239, 255);
   --header-color: rgb(187, 211, 247);
   --header-box-shadow: rgb(102, 102, 102);
   --header-textcolor: rgb(0, 0, 0);
   --tag-background-color: rgb(194, 194, 194);
   --tag-border-color: rgb(143, 143, 143);
}

.dark-mode {
   --background-color: rgb(14, 14, 14);
   --quizcard-color: rgb(49, 49, 49);
   --navbar-color: rgb(80, 93, 114);
   --header-color: rgb(39, 63, 99);
   --header-box-shadow: rgb(0, 0, 0);
   --header-textcolor: rgb(245, 186, 59);
   --tag-background-color: rgb(53, 53, 53);
   --tag-border-color: rgb(204, 161, 75);
}

body {
   margin: 0;
   padding-bottom: 120px;
   padding-top: 80px;
   color: var(--header-textcolor);
}
.header {
   position: fixed;
   top: 0;
   z-index: 1;
   background-color: var(--header-color);
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: center;
   box-shadow: 0px 8px 5px 0px var(--header-box-shadow);
}

.header__title {
   align-self: center;
}

.u-hidden {
   display: none;
}
.profile__quizz-info {
   display: flex;
   list-style: none;
   align-self: flex-start;
   width: auto;
   height: auto;
   padding: 0;
   margin: 5%;
   flex-wrap: wrap;
}
