@import url(./components/quizcard.css);

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
}
.header {
   background-color: aqua;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: center;
}

.header__title {
   background-color: aqua;
   align-self: center;
}
